################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MassEffectDrivePlugin/FileContentIndex/8e6b0273-fd2f-4428-b42c-f81ea2b140d2.vsidx
/.vs/MassEffectDrivePlugin/FileContentIndex/357606ca-6102-4f01-9d66-2fe09f3023a2.vsidx
/.gitignore
/.vs/MassEffectDrivePlugin/FileContentIndex/357606ca-6102-4f01-9d66-2fe09f3023a2.vsidx
